@model NorbitsChallenge.Bll.Car

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TireCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TireCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LicensePlate">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
